html {
  line-height: 1.5;
}

h1 {
  font-size: 3em;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:link {
  display: inline-block;
  corner-radius: 4px;
}

a:hover {

}

.current {
  background-color: #b20953
}
